@import "./variables";
@import "./common";
@import "./mixins";

.feature-news-section{
    &__content{
        &--signle-news{
            min-width: 40%;
            background: $white;
            padding: 8px 8px 0;
            .feature-image{
                a{
                    overflow: hidden;
                }
            }
            .news-title{
                padding : 10px 0;
                a{
                    font-size: 24px;
                    font-weight: 600;
                    color : $black;
                    &:hover{
                        color : $default;
                    }
                }
            }
            .short-description{
                line-height: 24px;
            }
            .news-time{
                padding-bottom: 0;
            }
            .feature-text-wrapper{
                padding: 0 0 16px;
            }
        }
        &--double-column{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            padding: 0 16px 16px;
            background: $white;
            .double-item{
                width: 48%;
                &__title{
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 1.5;
                    padding : 16px 0 0;
                }
                &__image{
                    width: 50%;
                }
                &__description{
                    padding: 0 0 10px 3%;
                    width: 47%;
                }
                
            }
        }
    }
}